@import 'styles.scss';

.PageNav {
  grid-column: span 3;
  z-index: $z-index-front;

  @media screen and (max-width: breakpoint(tablet)) {
    grid-column: span 2;
  }

  @media screen and (max-width: breakpoint(mobile)) {
    display: none;
  }
}

.Nav {
  position: sticky;
  top: spacing(loose);
}
