@import 'styles.scss';

.BlockImageFull {
  padding-top: 60%;
  width: 100%;
  margin-bottom: spacing();
  position: relative;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
