@import 'styles.scss';

.FullWidthContentWrapper {
  @include grid-primary-section;
  z-index: $z-index-middle;
}

@function oneColumnWidth($totalColumns, $maxWidth: null, $withSpacing: true) {
  $pageSpacing: ($totalColumns - 1) * $gridGap;
  @if (type-of($maxWidth) == number) {
    $maxWidth: rem($maxWidth);
  } @else {
    $maxWidth: 100vw;
    $pageSpacing: $pageSpacing + 2 * $appSpacing;
  }
  $result: calc(#{$maxWidth} - #{$pageSpacing}) / #{$totalColumns};

  @if ($withSpacing) {
    $result: calc(#{$result} + #{$gridGap});
  }

  @return $result;
}

@function leftShift($totalColumns, $leftOverColumns: 0, $maxWidth: null) {
  $result: $appSpacing;
  @if $totalColumns != 4 {
    $result: calc(
      #{$leftOverColumns} * #{oneColumnWidth($totalColumns, $maxWidth)}
    );
  }

  @return $result;
}

.FullWidthContent {
  position: relative;
  margin-left: calc(
    -1 * (#{leftShift(12, 3, $desktop-max-width)} + #{oneColumnWidth(
            12,
            $desktop-max-width
          )})
  );
  max-width: 100vw;
  width: calc(
    #{rem($desktop-max-width)} + 2 * #{oneColumnWidth(12, $desktop-max-width)}
  );

  @media screen and (max-width: breakpoint(desktop-small)) {
    margin-left: calc(
      -1 * ((#{leftShift(12, 3, $desktop-max-width)}) + #{$appSpacing})
    );
    width: calc(#{$desktop-max-width * 1px} + #{2 * $appSpacing});
  }

  @media screen and (max-width: breakpoint($desktop-max-width + 2 * map-get($spacing, base))) {
    margin-left: calc(-1 * (#{leftShift(12, 3)} + #{$appSpacing}));
    width: 100vw;
  }

  @media screen and (max-width: breakpoint(tablet)) {
    margin-left: calc(-1 * (#{leftShift(8, 2)} + #{$appSpacing}));
  }

  @media screen and (max-width: breakpoint(mobile)) {
    margin-left: calc(-1 * #{$appSpacing});
  }

  .NavBackgroundWrapper {
    position: absolute;
    width: calc(
      2.5 * #{oneColumnWidth(12, $desktop-max-width)} + 2 * #{$gridGap}
    );
    height: 100%;
    top: 0px;
    clip: rect(0, auto, auto, 0);
    z-index: $z-index-forward;

    @media screen and (max-width: breakpoint(desktop-small)) {
      width: calc(1.5 * #{oneColumnWidth(12)} + 3 * #{$gridGap});
    }

    @media screen and (max-width: breakpoint($desktop-max-width + 2 * map-get($spacing, base))) {
      width: calc(2 * #{oneColumnWidth(12)} + 3 * #{$gridGap});
    }

    @media screen and (max-width: breakpoint(mobile)) {
      display: none;
    }
  }

  .NavBackground {
    position: fixed;
    top: $gridGap;
    margin-left: calc(#{oneColumnWidth(12, $desktop-max-width)} - #{$gridGap});
    width: 100%;
    height: rem(260);
    background: color(background-primary);

    @include dark {
      background: color(background-primary, dark);
    }

    @media screen and (max-width: breakpoint(desktop-small)) {
      margin-left: 0;
    }
  }
}
