@import 'styles.scss';

.Heading {
  @include type-scale(heading);
  color: color(ink);
  text-transform: uppercase;

  &.Capitalize {
    text-transform: capitalize;
  }

  @include dark {
    color: color(ink, dark);
  }
}
