@import 'styles.scss';

.Breadcrumbs {
  @include grid-secondary-section;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TopSection {
  display: flex;
  flex-direction: column;
}

.Title {
  @include grid-primary-section;
}

.Slug {
  margin-top: spacing(tight);
}
