@import 'styles.scss';

@function oneColumnWidth($totalColumns, $maxWidth: null, $withSpacing: true) {
  $pageSpacing: ($totalColumns - 1) * $gridGap;
  @if (type-of($maxWidth) == number) {
    $maxWidth: rem($maxWidth);
  } @else {
    $maxWidth: 100vw;
    $pageSpacing: $pageSpacing + 2 * $appSpacing;
  }
  $result: calc(#{$maxWidth} - #{$pageSpacing}) / #{$totalColumns};

  @if ($withSpacing) {
    $result: calc(#{$result} + #{$gridGap});
  }

  @return $result;
}

@function leftPsuedoWidth($totalColumns, $leftOverColumns: 0, $maxWidth: null) {
  $result: spacing();
  @if (type-of($maxWidth) == number) {
    @if $totalColumns != 4 {
      $result: calc(
        #{$leftOverColumns + 1} * #{oneColumnWidth($totalColumns, $maxWidth)}
      );
    }
  } @else {
    @if $totalColumns != 4 {
      $result: calc(
        #{$leftOverColumns} * #{oneColumnWidth($totalColumns, $maxWidth)}
      );
    }
  }

  @return $result;
}

.PrimaryContent {
  @include grid-primary-section;
  background: color(background-secondary);
  padding-top: spacing(extra-large) + spacing();
  padding-bottom: spacing(extra-large);
  margin-top: -1 * spacing(extra-large);
  position: relative;
  z-index: $z-index-behind;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background: color(background-secondary);

    left: calc(-1 * #{leftPsuedoWidth(12, 3, $desktop-max-width)});
    width: #{leftPsuedoWidth(12, 3, $desktop-max-width)};

    @media screen and (max-width: breakpoint($desktop-max-width + 2 * map-get($spacing, base))) {
      left: calc(-1 * (#{leftPsuedoWidth(12, 3)} + #{$appSpacing}));
      width: calc(#{leftPsuedoWidth(12, 3)} + #{$appSpacing});
    }

    @media screen and (max-width: breakpoint(tablet)) {
      left: calc(-1 * (#{leftPsuedoWidth(8, 2)} + #{$appSpacing}));
      width: calc(#{leftPsuedoWidth(8, 2)} + #{$appSpacing});
    }

    @media screen and (max-width: breakpoint(mobile)) {
      left: -1 * $appSpacing;
      width: $appSpacing;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background: color(background-secondary);

    @media screen and (max-width: breakpoint($desktop-max-width + 2 * map-get($spacing, base))) {
      right: -1 * $appSpacing;
      width: $appSpacing;
    }
  }

  @include dark {
    background: color(background-secondary, dark);
    &:before,
    &:after {
      background: color(background-secondary, dark);
    }
  }
}
