@import 'styles.scss';

.Link,
.Link:link,
.Link:visited,
.Link:active {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
      color: color(hover);
    }
  }

  @include dark {
    &:hover {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      span {
        color: color(hover, dark);
      }
    }
  }
}
