@import 'styles.scss';

.Link,
.Link:link,
.Link:visited,
.Link:active {
  text-decoration: none;
  display: block;
  cursor: pointer;

  &.AutoWidth {
    display: inline-block;
  }

  &:focus {
    position: relative;
    outline: rem(2) solid color(hover);

    div {
      border-top: rem(2) solid transparent;
    }
    // * {
    //   border-color: color(hover);
    // }
  }

  &:hover {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
      color: color(hover);
    }
  }

  @include dark {
    &:hover,
    &:focus {
      outline: none;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      span {
        color: color(hover, dark);
      }
    }
  }
}
