@import 'styles.scss';

.Section {
  @include grid-primary-section;
  margin-top: spacing(large);
  display: grid;
  grid-gap: spacing();
}

.ContactContent {
  padding: spacing() 0;
  border-top: rem(2) solid color(ink);
}
